.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(218, 210, 210, 0.6);
  overflow-x: hidden;
}
.modal-content {
  position: absolute;
  padding: 20px;
  background: yellow;
  width: 200px;
  top: 20%;
  left: 40%;
}
.header-menu {
  padding: 5px 20px;
}
.header-menu a {
  padding: 0 5px;
  margin: 0 5px;
  font-size: 25px;
  background-color:greenyellow;
}
.header-menu a.active {
  color: red;
}